<h1>Sign up for </h1>
<p><%= @event.title %> </p>

<div> 
<%= form_tag '/eaters', method: :post do %>
  <div>
    <%= label_tag :first_name %>
    <%= text_field_tag :first_name %>
  </div>
  <div>
    <%= label_tag :last_name  %>
    <%= text_field_tag :last_name  %>
  </div>
  <div>
    <%= label_tag :email  %>
    <%= text_field_tag :email  %>
  </div>
  <div>
    <%= hidden_field_tag("event_id", value = @event.id) %>
  </div>  
  <div>
    <%= submit_tag "Add me" %>
  </div>
  <a href = "/events/"><p> cancel </p></a>
<% end %>

<h2>Employees signed up to eat that:</h2>

<% @eaters.each do |eater| %>
<%= eater.first_name %>  
<%= eater.last_name %>  
<br>
<% end %>
</div>